# Android Studio & IntelliJ files
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local config
local.properties

# OS files
.DS_Store

# Firebase & secrets (add this if you have Firebase)
google-services.json
